.jeg_mainmenu_wrap {
    display: flex;
    justify-content: center;
}

ul.jeg_main_menu {
    width: 500px;
    height: 100px;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Hide scrollbar in FF */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mobile ul.jeg_main_menu {
    padding: 5rem 0;
    height: auto;
}

.jeg_main_menu > li.menu-item {
    flex: none;
    /*margin-right: 4rem;*/
    padding: 0 2rem 0 0;
}

.jeg_main_menu > li.menu-item>a {
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
    display: block;
    color: var(--color-menu);
    transition: transform 0.2s;
}

.jeg_main_menu > li.menu-item>a:hover {
    font-style: italic;
    transform: scale(1.5); /*translate3d(2rem,0,0);*/
    color: var(--color-menu-hover);
}

/**
.jeg_main_menu > li.menu-item>a::before {
    content: '';
    top: 55%;
    width: 3.5rem;
    height: 1px;
    background: currentColor;
    position: absolute;
    right: calc(100% + 2rem);
    opacity: 0;
    pointer-events: none;
}

.jeg_main_menu > li.menu-item>a:hover::before {
    opacity: 1;
}
*/

/* Pseudo-element for making sure that hover area is active */
.jeg_main_menu > li.menu-item>a:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: -5.5rem;
    right: 0;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 53em) {
    .menu-item {
        margin-right: 25vw;
    }
}
